/*
font-family: 'Raleway', sans-serif;
font-family: 'Uncial Antiqua', cursive;
font-family: 'Cinzel Decorative', cursive;
font-family: 'Kelly Slab', cursive;
font-family: 'Crushed', cursive;
*/
body {
    font-family: 'Raleway', sans-serif;
    background-color: black;
    background-image: url(/static/img/blackrockbg_dark.jpg);
}
.grid-container {
    display: inline-grid;
    grid-template-columns: 72px 72px 72px 72px 72px 72px 72px 72px 72px 72px 72px 72px 72px 72px 72px;
    grid-template-rows: 72px 72px 72px 72px 72px 72px 72px 72px 72px;
    background-color: #323232;
    padding: 10px;
}
.grid-item {
    border: 1px solid rgba(0, 0, 0, 0.6);
    color: #000000;
    padding: 0;
    margin: 0;
    text-align: center;
    line-height: 1px;
    cursor: url(/static/img/pointer.cur),auto;
}
.bigIcon {
    text-align: center;
    vertical-align: middle;
    width: 42px;
    display: inline-block;
    margin: 2px 0 2px 0;
}
.smallIcons {
    background-color: black;
    text-align: center;
    vertical-align: middle;
    width: 66px;
    display: inline-block;
}
.mapNote {
    font-size: 11px;
    line-height: 13px;
    color: black;
    padding: 2px 0 0 0;
    text-align: center;
    vertical-align: top;
    width: 10px;
    display: inline-block;
}
.road {
    font-size: 13px;
    color: rgba(0, 0, 0, 1);
    /* text-shadow: 0 1px white; */
}
.karto {
    font-size: 11px;
    color: rgba(0, 0, 0, 1);
    /* text-shadow: 0 1px white; */
}
.river {
    font-size: 9px;
    color: #00c2ff;
    text-shadow: 0 1px black;
}
.tileBar {
    color: black;
    font-size: 12px;
    font-weight: bold;
    /* text-shadow: 0 0 2px #FFFFFF; */
    border-width: 1px;
    border-style: solid none none none;
    border-color: #000000;
    border-top:
    padding: 0;
    margin: 0;
    height: 15px;
    text-align: center;
}
.tbblanc {
    color: #FFFFFF;
    text-shadow: 0 0 3px #000000;
}
.forest {
    background-color: #1d6b1b;
    /* background-image: url(/static/img/tiles/woods.png); */
}
.plains {
    background-color: #c8b678;
    /* background-image: url(/static/img/tiles/grass.png); */
}
.hills {
    background-color: #a88051;
    /* background-image: url(/static/img/tiles/hills_low.png); */
}
.mountains {
    background-color: #71491a;
    /* background-image: url(/static/img/tiles/mountains.png); */
}
.swamp {
    background-color: #679172;
    /* background-image: url(/static/img/tiles/swamp.png); */
}
.fog {
    background-color: #141414;
}
#con {
    display: none;
}
#pascon {
    display: block;
}
td {
    vertical-align: top;
    padding-right: 10px;
}
#tileInfos, #unitInfos, #tileUnitList, #tracksList {
    background-color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: #a5b896;
    padding: 8px 8px;
    border-style: solid;
    border-width: 2px;
    border-color: #323232;
    margin: 0 0 5px 0;
    border-radius: 6px;
}
#vuPriority {
    padding: 0 7px 0 7px;
}
#sidebarInfos {
    width: 270px;
}
.sidebar a {
    text-decoration: none;
    color: #a5b896;
}
.sidebar a:hover {
    text-decoration: none;
    color: #e000e4;
}
.paramName {
    display: inline-block;
    width: 150px;
    font-weight: bold;
}
.paramValue {
    display: inline-block;
}
.unitNum {
    display: inline-block;
    width: 30px;
    font-weight: bold;
    text-align: right;
}
.unitType {
    display: inline-block;
    width: 100px;
    font-weight: bold;
}
.unitOwner {
    display: inline-block;
    width: 30px;
    font-weight: normal;
}
.unitGroup {
    display: inline-block;
    font-weight: normal;
}
.espace {
    margin: 6px;
    padding: 0;
}
h1 {
    display: inline;
    /* font-family: 'Uncial Antiqua', cursive; */
    /* font-family: 'Cinzel Decorative', cursive; */
    font-family: 'Crushed', cursive;
    letter-spacing: 1px;
    font-weight: normal;
    font-size: 24px;
    color: #de0000;
    margin: 0 0 3px 13px;
    padding: 0;
}
h3 {
    display: inline;
    /* font-family: 'Uncial Antiqua', cursive; */
    /* font-family: 'Cinzel Decorative', cursive; */
    font-family: 'Crushed', cursive;
    letter-spacing: 1px;
    font-weight: normal;
    font-size: 22px;
    color: #e000e4;
    margin: 0;
    padding: 0px 0px 5px 0px;
}
h4 {
    display: inline;
    /* font-family: 'Uncial Antiqua', cursive; */
    /* font-family: 'Cinzel Decorative', cursive; */
    font-family: 'Crushed', cursive;
    letter-spacing: 1px;
    font-weight: normal;
    font-size: 22px;
    color: #a5b896;
    margin: 0;
    padding: 0px 0px 5px 0px;
}
.rouge {
    color: #de0000;
}
.mauve {
    color: #e000e4;
}
.jaune {
    color: #f1e001;
}
.grisf {
    color: #59664e;
}
.gris {
    color: #a5b896;
}
.blanc {
    color: #FFFFFF;
}
.detailIcons {
    color: #a5b896;
    font-size: 18px;
}
button, select {
	-moz-box-shadow:inset 0px 1px 0px 0px #a6827e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #a6827e;
	box-shadow:inset 0px 1px 0px 0px #a6827e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7d5d3b), color-stop(1, #634b30));
	background:-moz-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:-webkit-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:-o-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:-ms-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d5d3b', endColorstr='#634b30',GradientType=0);
	background-color:#7d5d3b;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #54381e;
	display:inline-block;
	cursor:pointer;
	color:#e1face;
	font-family: 'Raleway', sans-serif;
	font-size:13px;
	padding:4px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #4d3534;
    margin: 3px 3px 0 0;
    min-width: 120px;
}
button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #634b30), color-stop(1, #7d5d3b));
	background:-moz-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:-webkit-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:-o-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:-ms-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#634b30', endColorstr='#7d5d3b',GradientType=0);
	background-color:#634b30;
}
button:active {
	position:relative;
	top:1px;
}
.modeButtons {
    min-width: 130px;
    padding:6px 13px;
}
.iconButtons {
    min-width: 35px;
    font-size: 17px;
    padding: 2px 5px;
}
