.grid-container {
    display: inline-grid;
    grid-template-columns: 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px;
    grid-template-rows: 60px 60px 60px 60px 60px 60px 60px 60px 60px;
    background-color: #2196F3;
    padding: 10px;
}
.grid-item {
    border: 1px solid rgba(0, 0, 0, 0.6);
    font-size: 10px;
    color: #000000;
    padding: 6px 6px;
}
.forest {
    background-color: #1d6b1b;
}
.plains {
    background-color: #e6d391;
}
.hills {
    background-color: #a88051;
}
.mountains {
    background-color: #71491a;
}
.swamp {
    background-color: #85aba0;
}
#con {
    display: none;
}
#pascon {
    display: block;
}
td {
    vertical-align: top;
}
